
src/JPype1-0\.6\.2/

src/stanford-parser-python-r22186/3rdParty/

*.pyc

src/image_processing/\.coverage

src/image_processing/htmlcov/

src/image_processing/covhtml/

src/image_processing/covthml/

src/image_processing/cov2/

src/image_processing/color/

src/image_processing/getimage/

src/image_processing/cov1/

*.swp
